.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #0b3b5a 0%, #3e9bca 100%);
}

.Quiz h1 {
    color: #fff;
    margin-left: 10px;
    text-align: center;
}

.QuizWrapper {
    width: 600px;
}